.content
  - categories.each do |category|
    .inner
      %h1{ id: category.name, class: "#{category.name} category category-title", "data-category" => category.name }
        = category.title
        - unless %w(overview error_example user).include? category.name.to_s
          (
          = category.name
          )

      .description
        = markdown category.body

      - entries.select{|entry| entry.category_name == category.name }.each do |entry|
        .document-block{ id: entry.base_name, class: "entry", "data-entry" => entry.base_name, "data-category" => category.name }
          .inner
            = markdown entry.body
            = link_to ">> #{category.title}について", "##{category.name}"

