= form_for @entry do |f|
  .add-container
    - if @entry.errors.any?
      #error_explanation
        %h2= "#{pluralize(@entry.errors.count, "error")} prohibited this entry from being saved:"
        %ul
          - @entry.errors.full_messages.each do |msg|
            %li= msg

    = f.text_field   :title, placeholder: "エントリー名"
    = f.text_field   :anchor_name, placeholder: "内部リンク用のアンカー名"
    = f.text_field    :explanation, placeholder: "エントリーの説明"
    = f.hidden_field :category_id, value: category_id

    .actions
      = f.submit 'Save', id: "entry", class: "ajax-submit"
