= content_for :head do
  = stylesheet_link_tag "application", :media => "all"
  = stylesheet_link_tag "//yandex.st/highlightjs/8.0/styles/railscasts.min.css"

  = javascript_include_tag "application"
  = javascript_include_tag "//yandex.st/highlightjs/8.0/highlight.min.js"

= content_for :body do
  = link_to "Export HTML", :spawn_entries, remote: true, class: "spawn-button"
  = link_to "要望・問題の報告",  "https://creativesurvey.com/reply/api_inquiry", target: "_blank", class: "inquiry-button"
  = render partial: "docs_contents"