= content_for :head do
  %style
    = application_css
  %script
    = application_js

= content_for :body do
  = link_to "要望・問題の報告",  "https://creativesurvey.com/reply/api_inquiry", target: "_blank", class: "inquiry-button"
  = render partial: "docs_contents"
