= content_for :head do
  %style
    = application_css
  %script
    = application_js
  -#
  -#%link{ href: "./stylesheets/application.css", rel: "stylesheet", type: "text/css", media: "screen" }
  -#%script{ src: "./javascripts/application.js", type: "text/javascript" }

= content_for :body do
  = link_to "問題の報告",  "https://creativesurvey.com/reply/api_inquiry", target: "_blank", class: "inquiry-button"
  = render partial: "docs_contents"
