.control
  = form_tag nil do
    %select.dropdown

      - %w(curl ruby).each do |key, value|
        %option{ :value => value }
          = key

  %ul.big-panel
    - roles.each_with_index do |role|
      %li
        %h3
          = t("#{role}.title")

        %ul.role
          - categories.each_with_index do |category|

            - if role == category.role
              %li
                %h3.main-title{ "data-category" => category.name }
                  = link_to category.title, "##{ category.name }"

                %ul
                  - docs.select{|doc| doc.category_name == category.name }.each do |doc|
                    %li.sub-title{ "data-entry" => doc.base_name }
                      = link_to doc.title, "##{ doc.base_name }"
  .notify-border
  .handle
    View Full Contents

