.control
  = form_tag nil do
    %select.dropdown

      - %w(curl ruby).each do |key, value|
        %option{ :value => value }
          = key

  %ul.side-nav
    - categories.each_with_index do |category|
      %li
        %h3.main-title{ "data-category" => category.name }
          = link_to category.title, "##{ category.name }"

        %ul
          - docs.select{|doc| doc.category_name == category.name }.each do |doc|
            %li.sub-title{ "data-entry" => doc.base_name }
              = link_to doc.title, "##{ doc.base_name }"