.control
  = form_tag nil do
    %select.dropdown

      - %w(ruby curl).each do |key, value|
        %option{ :value => value, "data-lang" => key }
          = key

  %ul.side-nav
    - categories.each_with_index do |category|
      %li
        %h3.main-title{ "data-category" => category.anchor_name }
          = link_to category.title, "##{category.anchor_name}"

        %ul
          - entries.where( :category_id => category.id ).each do |entry|
            %li.sub-title{ "data-entry" => entry.anchor_name }
              = link_to entry.title, "##{ entry.anchor_name }"


