.control
  = form_tag nil do
    %select.dropdown

      - %w(ruby curl).each do |key, value|
        %option{ :value => value }
          = key

  %ul.side-nav
    - categories.each_with_index do |category|
      %li
        %h3.main-title{ "data-category" => category.anchor_name }
          = link_to category.title, "##{category.anchor_name}"

        %ul
          - docs.where( category_id: category.id).each do |doc|
            %li.sub-title{ "data-entry" => doc.anchor_name }
              = link_to doc.anchor_name, "##{ doc.anchor_name }"