%tr.deletable-wrap
  %th.edit-container
    .editable-content{ class: "editable-content", contenteditable: true }
      = f.object.used_variables
    = f.hidden_field :used_variables, class: "replace-content"

  %td.edit-container
    .editable-area-content
      = f.text_area :explanation
      .close-button
        ×

    %h4{ class: "replace-area-content" }
      = f.object.explanation
    = link_to '×', variable_path(f.object), :method => :delete, class: "destroy-button"

