%tr.deletable-wrap
  %th.edit-container
    - if f.object.used_variables.present?
      .editable-content{ class: "editable-content", contenteditable: true }
        = f.object.used_variables
    - else
      .editable-content{ class: "editable-content content-of-null", contenteditable: true }
        = "入力してください。"

    = f.hidden_field :used_variables, class: "replace-content"

  %td.edit-container
    .editable-area-content
      = f.text_area :explanation, { place_holder: "変数の説明を入力してください。" }

      .close-button
        ×

    %h4{ class: "replace-area-content" }
      - if f.object.explanation.present?
        = f.object.explanation
      - else
        .content-of-null
          変数の説明を入力してください。

    = link_to '×', variable_path(f.object), :method => :delete, class: "destroy-button", remote: true

