= content_for :body do
  .content
    - @categories.each_with_index do |category, index|
      %h2{ id: category["anchor_name"], class: "category", "data-category" => category["anchor_name"] }
        = category["title"]


      - @entries.select{|hash| hash["category_id"].to_i == index + 1 }.each do |entry|

        %div{ id: entry["anchor_name"], class: "entry", "data-entry" => entry["anchor_name"], "data-category" => category["hash_name"] }
          .document-block
            .inner
              %h3.title
                = entry["title"]

              %h4
                = entry["returns"]

              %table
                %tbody
                  - @variables.select{|hash| hash["entry_id"].to_i == index + 1 }.each do |detail|
                    %tr
                      %th
                        = detail["variable"]
                      %td
                        = detail["explanation"]




          .example-block
            .inner
              %pre
                %code.ruby
                  = entry["ruby"]
                %code.php
                  = entry["php"]
                %code.python
                  = entry["python"]
                %code.curl
                  = entry["curl"]

