= content_for :body do
  .content
    - categories.each do |category|
      %h2{ id: category.anchor_name }
        = category.title

      - entries.where( :category_id => category.id ).each do |entry|
        = form_for find_one_entry(entry.id), remote: true, html: { id: "container-#{entry.id}"} do |f|

          %div
            .document-block
              .inner
                .edit-container
                  %h3.title{ class: "editable-content", contenteditable: true }
                    = entry.title

                  = f.hidden_field :title, class: "replace-content"

                .edit-container
                  %h4{ class: "editable-content", contenteditable: true }
                    = entry.explanation

                  = f.hidden_field :explanation, class: "replace-content"

                %table
                  %tbody
                    -# TODO: リレーションを持ったmodelのフォーム入れ子
                    -#- variables.where( :entry_id => entry.id ).each do |variable|
                    -#  %tr
                    -#    %th.edit-container
                    -#      .editable-content{ contenteditable: true }
                    -#        = variable.used_variables
                    -#
                    -#    %td.edit-container
                    -#      .editable-content{ contenteditable: true }
                    -#        = variable.explanation



            .example-block
              .inner
                %pre
                  .edit-container
                    %code.ruby.editable-content{ contenteditable: true }
                      = entry.ruby
                      = f.hidden_field :ruby, class: "replace-content"
                  .edit-container
                    %code.curl.editable-content{ contenteditable: true }
                      = entry.curl
                      = f.hidden_field :curl, class: "replace-content"



          = f.submit :class => "hidden-submit", :name => "entry-#{entry.id}"