= content_for :body do
  .content
    - categories.each do |category|
      %h2{ id: category.anchor_name }
        = category.title

      - entries.where( :category_id => category.id ).each do |entry|
        = form_for find_one_entry(entry.id), remote: true, html: { id: "container-#{entry.id}"} do |f|

          %div
            .document-block
              .inner
                .edit-container
                  %h3.title{ class: "editable-content", contenteditable: true }
                    = entry.title

                  = f.hidden_field :title, class: "replace-content"

                .edit-container
                  %h4{ class: "replace-area-content" }
                    = entry.explanation

                  = f.text_area :explanation, class: "editable-area-content"


                %table
                  %tbody
                    = f.fields_for :variables do |builder|
                      = render "variable_fields", :f => builder

            .example-block
              .inner
                .code.ruby
                  .edit-container
                    = link_to "Save & Preview", preview_path( entry_name: entry.anchor_name, lang: "ruby" ), class: "button", remote: true
                    = f.text_area :ruby, class: "code-editor", rows: 2


                  .preview-container{ class: entry.anchor_name }
                    = render "preview", entry: entry, lang: "ruby"

                .code.curl
                  .edit-container
                    = link_to "Save & Preview", preview_path( entry_name: entry.anchor_name, lang: "curl" ), class: "button", remote: true
                    = f.text_area :curl, class: "code-editor", rows: 2

                  .preview-container{ class: entry.anchor_name }
                    = render "preview", entry: entry, lang: "curl"



          = f.submit :class => "hidden-submit", :name => "entry-#{entry.id}"
