= content_for :body do
  .content
    - categories.each_with_index do |category|
      %h2{ id: category.anchor_name, class: "category-title", "data-category" => category.anchor_name }
        = category.title


      - entries.where( :category_id => category.id ).each do |entry|

        %div{ id: entry.anchor_name, class: "entry", "data-entry" => entry.anchor_name, "data-category" => category.anchor_name }
          .document-block
            .inner
              %h3.title
                = entry.title

              %h4
                = entry.explanation

              %table.basic-table
                %tbody
                  - variables.where( :entry_id => entry.id ).each do |variable|
                    %tr
                      %th
                        = variable.used_variables
                      %td
                        = variable.explanation


          .example-block
            .inner
              .code.ruby
                %pre
                  %code.ruby
                    = entry.ruby.try(:gsub, "\n", "")
              .code.curl
                %pre
                  %code.curl
                    = entry.curl.try(:gsub, "\n", "")

