= form_for @category, remote: true do |f|
  .add-container
    - if @category.errors.any?
      #error_explanation
        %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
        %ul
          - @category.errors.full_messages.each do |msg|
            %li= msg

    = f.text_field :title, placeholder: "カテゴリ名"
    = f.text_field :anchor_name, placeholder: "Anchor Name(カテゴリ英語名)"

    .actions
      = f.submit 'Save', id: "category", class: "ajax-submit"
